# Created by .gitignore support plugin (hsz.mobi)
.idea
shell/src/main/resources/buildinfo.properties
.gradle/
Food.iml
core/build/
core/core.iml
shell/.gradle/
shell/build/
shell/shell.iml
food-manager.log
log/
shell/src/main/resources/environment/application-dev.properties
shell/src/main/resources/environment/logback-dev.xml
app/food/shell/shell.iml
app/food/core/core.iml