# Created by .gitignore support plugin (hsz.mobi)
.idea
shell/src/main/resources/buildinfo.properties
.gradle/
Food.iml
core/build/
core/core.iml
shell/.gradle/
shell/build/
shell/shell.iml
spring-shell.log

